@import "../../scss/base.scss";

.Product {
  border: 2px solid $color-black;
  border-radius: 16px;
  padding: $padding-small;
  text-align: center;

  &-title,
  &-description {
    margin-bottom: $padding-small;
  }
}
