@import "../../scss/base.scss";

.Hero {
  background-color: $color-white;

  background-position: bottom;
  background-image: url("../../images/bg-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  position: relative;
  text-align: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include for-size(m) {
    background-image: url("../../images/bg-large.png");
  }

  &-title,
  &-subtitle {
    margin-bottom: $padding-small;
  }

  &-title,
  &-subtitle,
  &-icon,
  &-cta {
    position: relative;
    z-index: 2;
  }

  &-icon {
    margin: 0 0 $padding-small;
  }
}
