@import "../../scss/base.scss";

.ContactBox {
  border-top: 1px solid $color-black;
  list-style: none;
  padding: $padding-small 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @include for-size(m) {
    flex-direction: row;
  }

  &-block {
    margin: 0 0 20px;
    display: flex;
    align-items: center;
  }
}
